.emotion-wheel {
  &__label {
    font-size: 20px;
  }

  &--loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  &--error {
    color: var(--color-red);
  }
}
