.dot {
  position: absolute;
  bottom: -9px;
  right: 9px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--color-dusty-purple);
}

.calendar .ant-picker-calendar-date {
  position: relative;
  height: 48px;
}