@import '../../styles/variables/breakpoints';

.dot {
  position: absolute;
  bottom: -9px;
  right: 9px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--color-dusty-purple);
}

.emotion-calendar {
  width: 400px;

  @include tablet {
    width: 100%;
    max-width: 400px;
  }

  @include mobile {
    width: 100%;
  }
}