@use "../../styles/variables/breakpoints";

.insights-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 34px;

  @media (max-width: 480px) {
    gap: 20px;
  }

  &__header {
    display: flex;
    gap: 20px;
    align-items: center;

    @media (max-width: 480px) {
      gap: 10px;
    }
  }

  &__description {
    line-height: 1.6;

    a {
      color: var(--color-purple);
      text-decoration: none;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }
  }

   &__add {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
  }

  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
  }

  &__empty {
    text-align: center;
    padding: 48px 24px;
    color: #666;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 12px;
    background: linear-gradient(180deg, #f9eea8 16.83%, #ffb3fa 100%);
    padding: 24px 20px;

    @include breakpoints.mobile {
      gap: 10px;
      padding: 16px;
    }
  }
}
