@import '../../styles/variables/breakpoints';

.layout {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  justify-content: flex-end;
  background-color: var(--color-background);

  &__content {
    width: calc(100vw - var(--sidebar-width));
    box-sizing: border-box;
    padding: 50px 70px;

    @include tablet-only {
      padding: 50px 30px;
      width: calc(100vw - var(--sidebar-width-tablet));
    }

    @media (max-width: 768px) {
      width: 100vw;
      padding: 20px;
      padding-top: calc(var(--mobile-header-height) + 20px);
    }
  }
}