.layout {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  justify-content: flex-end;
  background-color: var(--color-background);

  &__content {
    width: calc(100vw - var(--sidebar-width));
    box-sizing: border-box;
    padding: 50px 70px;
  }
}
