@use "../../styles/variables/breakpoints";

.layout {
  display: flex;
  min-height: 100vh;
  background-color: var(--color-background);

  &__content {
    flex: 1;
    box-sizing: border-box;
    padding: 50px 70px;
    margin-left: var(--sidebar-width);
    transition: margin-left 0.3s ease;

    @include breakpoints.desktop {
      .sidebar--collapsed ~ & {
        margin-left: var(--sidebar-width-collapsed);
      }
    }

    @include breakpoints.tablet-only {
      padding: 50px 30px;
      margin-left: var(--sidebar-width-tablet);
    }

    @include breakpoints.mobile {
      width: 100%;
      margin-left: 0;
      padding: 20px;
      padding-top: calc(var(--mobile-header-height) + 20px);
    }
  }
}
