.smart-chat-page {
  &__container {
    max-width: 80%;
    width: 100%;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 90vh;
    overflow: hidden;
  }
}