@use "../../styles/variables/breakpoints";

.smart-chat-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;

  &__container {
    max-width: 80%;
    width: 100%;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 90vh;
    overflow: hidden;

    @include breakpoints.tablet-only {
      max-width: calc(100% - 20px);
      height: calc(100vh - 120px);
      margin: 10px;
    }

    @include breakpoints.mobile {
      max-width: 100%;
      height: calc(100vh - var(--mobile-header-height) - 40px);
      border-radius: 0;
      box-shadow: none;
    }
  }
}
