.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: var(--sidebar-width);
  padding: 50px 0 30px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    margin-bottom: 30px;
    padding: 0 22px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
  }

  &__burger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &-icon {
      width: 28px;
      height: 28px;
    }
  }

  &__nav {
    flex: 1;
    overflow: auto;

    &-list {
      padding: 0;
      margin: 0;
      list-style: none;

      &-item {
        margin-bottom: 16px;

        &-link {
          display: flex;
          align-items: center;
          gap: 20px;
          padding: 8px 12px;
          border-radius: 6px;
          text-decoration: none;

          &:hover {
            background-color: #f3f4f6;
          }

          &--active {
            background-color: var(--color-light);
          }

          &__icon {
            width: 24px;
            height: 24px;
          }

          &__label {
            font-family: var(--paragraph);
            color: var(--color-primary);
          }
        }
      }
    }
  }
}
