.emotion-wheel-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 34px;

  @media (max-width: 480px) {
    gap: 20px;
  }

  &__description {
    background-color: #fff3fe;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    p {
      font-size: 18px;

      @media (max-width: 480px) {
        font-size: 16px;
      }
    }
  }

  &__description-list {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  &__list {
    margin: 0;
    li {
      font-size: 18px;

      @media (max-width: 480px) {
        font-size: 16px;
      }
    }
  }
}
