.emotion-accordeon-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 34px;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__content {
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }

  &--loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

   &__error {
    color: var(--color-red);
  }
}

.emotion-accordion {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.accordion-item {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
}

.accordion-header {
  width: 100%;
  padding: 20px 24px;
  background: none;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  color: #000;
  transition: background-color 0.2s;

  &:hover {
    background: rgba(255, 255, 255, 0.3);
  }
}

.accordion-icon {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.accordion-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px 24px;
  color: #000;
  background-color: #fffdfd;
  animation: slideDown 0.3s ease-out;

  p {
    margin: 0;
    font-size: 16px;
    line-height: 1.6;
  }

   &__loading {
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  &__overview {
    margin: 0 0 16px 0;
    line-height: 1.6;
  }

  &__subtitle {
    font-weight: 600;
  }

  &__list {
    margin: 0;

    li {
      font-size: 16px;
    }
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}