.plain-layout {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background: linear-gradient(180deg, #F6ECF4 0%, #C8BFE3 54.33%, #6F60AB 100%);
   box-sizing: border-box; 
}
