.not-found {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  &__icon {
    display: block;
    width: 100px;
    height: 100px;
  }
}
