.emotion-tag {
  display: inline-block;
  border-radius: 20px;
  font-weight: 500;
  text-transform: lowercase;
  color: #000;
  transition: all 0.2s ease;
  user-select: none;
  padding: 8px 18px;
  font-size: 16px;
}
