@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-background: linear-gradient(180deg, #F6ECF4 0%, #C8BFE3 59.15%, #9E8EDF 100%);
  --color-dark-blue: #281D58;
  --color-lavender: #C9B5DA;
  --color-light: #EDDDEC;
  --color-sidebar: #F8F4FC;
  --color-purple: #6B0CC4;
  --color-dusty-purple: #6F60AB;
  --color-auth-background: linear-gradient(180deg, #F6ECF4 0%, #C8BFE3 54.33%, #6F60AB 100%);
  --color-dark-gradient: linear-gradient(180deg, #6F60AB 0%, #2D2745 100%);
  --color-joy: #DBADFF;
  --color-strength: #F9EEA8;
  --color-fear: #FFB3E8;
  --color-fear-dark: #FF82DA;
  --color-sadness: #C4D7FF;
  --color-anger: #FF8686;
  --color-peace: #B5FAC5;
  --color-green: #58FF7F;
  --color-red: #F00;
  --color-disabled: #BCBCBC;

  --paragraph: "Inter", sans-serif;
  --font-heading: "Roboto Mono", sans-serif;
  --font-handwriting: "Roboto", sans-serif;
}

:root {
  --paragraph: "Inter", sans-serif;
  --font-heading: "Roboto Mono", sans-serif;
  --font-handwriting: "Roboto", sans-serif;

  --color-primary: #000000;
  --color-background: linear-gradient(180deg, #F6ECF4 0%, #C8BFE3 59.15%, #9E8EDF 100%);
  --color-dark-blue: #281D58;
}

body {
  font-family: var(--paragraph);
  font-weight: 400;
  color: var(--color-primary);
  background: var(--color-background);
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}

/* TYPOGRAPHY */
h1 {
  font-family: var(--font-heading);
  font-size: 40px;
  color: var(--color-dark-blue)
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
}

p,
li {
  font-size: 20px;
  line-height: 34px;
  font-family: var(--paragraph);
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  p,
  li {
    font-size: 16px;
    line-height: 28px;
  }
}
