$mobile: 480px;
$tablet: 980px;
$desktop: 1200px;

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin tablet-only {
  @media (min-width: #{$mobile + 1px}) and (max-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$tablet + 1px}) {
    @content;
  }
}